.root {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 99%;
    padding-bottom: 5px;
    box-shadow: 7px -8px 3px 2px rgba(10,20,100,0.2);
    border: 3px solid  rgba(70,40,200,0.7);;
}
