.root {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5px;
    box-shadow: 7px -8px 3px 2px rgba(0, 1, 3, 0.2);
    background-color: rgba(4, 13, 39, 0.322);
}
