.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: rgba(10,20,100,0.7);
    box-shadow: 7px -8px 3px 2px rgba(10,20,100,0.2);
}

h2 {
    margin: 10px 0 5px;
    font-size: 20px;
}

input {
    width: 600px;
    height: 34px;
    margin: 5px 0;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    background-color: rgba(5,10,90,0.3);
}

input::placeholder {
    color: rgba(204, 196, 196, 0.979);
    font-weight: bold;
    background: url(../../public/search.png) no-repeat;
    background-position: 570px -2px;
    background-size: 3%;
}


.filter {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    span {
    font-weight: bold;
    font-size: 18px;
    }
}

.filterBtn {
    width: 100px;
    height: 25px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    border:none;
    color: white;
    cursor: pointer;
    background-color: rgba(10,10,80, 0.4);
}

.filterBtn:hover {
    border: 2px solid white;
}

.active_Filter {
    background-color: white;
    color:rgba(10,10,80, 0.8);
}

.active_Filter:hover {
    border: 2px solid rgba(10,10,80, 0.8);
}

.searchBtn {
    margin-left: 180px;
    width: 150px;
    height: 30px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(221, 33, 74);
}

.searchBtn:hover {
    background-color: rgba(10,20,100,0.1);
    color:rgb(221, 33, 74);
    border: 2px solid rgb(221, 33, 74);
}

.statusSearch {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(170,170,250, 0.9);
}

span {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

button {
    margin-top: 3px;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}   

.activ_Status {
    color:red;
}

.foundMovies {
    margin-right: 400px;
}
